* {
    margin: 0;
}

.ddd1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #fff;

    box-shadow: 0px 1px 10px 0px #0000001A;


    position: relative;
    z-index: 10;



}

.ddd2 {
    font-size: 26px;
    font-weight: bold;
    color: #ff6a00;
}

.ddd3 a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.ddd4 {
    font-size: 20px;
    cursor: pointer;
}

.ddd5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px;
    background: #fff6f1;
}

.ddd6 {
    width: 50%;
}

.ddd7 {
    font-size: 44px;
    color: #333;
}

.ddd8 {
    font-size: 44px;
    color: #ff6a00;
    margin-bottom: 20px;
    width: 440px;
    height: 177px;

}

.ddd9 {
    color: #777;
    margin-bottom: 60px;
    width: 493px;
    height: 65px;
    font-weight: 400;
    font-size: 16px;
    line-height: 151%;
    letter-spacing: 0%;
    margin-top: -80px;
}

.ddd10 {
    padding: 14px 28px;
    background: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.ddd11 {
    width: 45%;
}

.ddd11 img {
    width: 100%;
}

.span1 {
    color: black;
}

.span2 {
    color: black;
}

.icon {
    display: none;
}

.ddd4:hover {
    background: #ff6a00;
    border-radius: 50%;
}

.hhh1 {
    padding: 100px 80px;
    background: #ffffff;
}

.hhh2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.hhh3 {
    width: 45%;
}

.hhh3 img {
    width: 100%;
}

.hhh4 {
    width: 50%;
}

.hhh5 {
    color: #999;
    margin-bottom: 12px;
}

.hhh6 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #333;
}

.hhh7 {
    color: #ff6a00;
}

.hhh8,
.hhh9 {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hhh10 {
    padding: 14px 28px;
    background: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.hhh11 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.hhh12,
.hhh15,
.hhh18,
.hhh21 {
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.hhh13,
.hhh16,
.hhh19,
.hhh22 {
    width: 56px;
    height: 56px;
    margin: 0 auto 20px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hhh13 img,
.hhh16 img,
.hhh19 img,
.hhh22 img {
    width: 64px;

}

.hhh14,
.hhh17,
.hhh20,
.hhh23 {
    width: 206px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 151%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 40px;
    color: #555;
}

button:hover {
    background-color: #555;
    color: white;
}

.qqq1 {
    width: 100%;
    padding: 80px 60px;
    background: #f3ebe7;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.qqq2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.qqq3 {
    width: 50%;
}

.qqq4 {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.qqq5 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    line-height: 1.3;
}

.qqq6 {
    color: #ff5a00;
}

.qqq7 {
    margin-top: 20px;
    color: #777;
    font-size: 14px;
    line-height: 1.7;
}

.qqq8 {
    margin-top: 30px;
}

.qqq9 {
    display: inline-block;
    background: #ff5a00;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.qqq10 {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.qqq11 {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    width: 270px;
    height: 120px;

}

.qqq12 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.qqq13 {
    margin-top: 10px;
    color: #777;
}

.pp {
    margin-top: 10px;
}

.ttt1 {
    padding: 100px 80px;
    background: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.ttt2 {
    color: #999;
    font-size: 14px;
    margin-bottom: 15px;
}

.ttt3 {
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin-bottom: 60px;
}

.ttt4 {
    color: #ff5a00;
}

.ttt5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.ttt6 {
    background: #fff;
    box-shadow: 0px 1px 10px 0px #0000001A;

    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 25px;
}

.ttt7 {
    width: 315px;
    height: 270px;


}

.ttt8 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.ttt9 {
    margin-top: 8px;
    font-size: 14px;
    color: #777;
}

.iii1 {
    background: #FFF7F4;
    padding: 80px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.iii2 {
    color: #888;
    font-size: 14px;
    margin-bottom: 20px;
}

.iii3 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    max-width: 700px;
    margin: 0 auto 60px auto;
    line-height: 1.3;
}

.iii4 {
    color: #ff5a00;
}

.iii5 {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.iii6,
.iii10 {
    background: #ff5a00;
    color: white;
    padding: 40px;
    width: 420px;
    text-align: left;
}

.iii7 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.iii8 {
    font-size: 14px;
    margin-bottom: 20px;
}

.iii9 {
    font-size: 14px;
    line-height: 1.6;
}

.rrr1 {
    background: white;
    padding: 80px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.rrr2 {
    color: #888;
    font-size: 14px;
    margin-bottom: 20px;
}

.rrr3 {
    font-size: 36px;
    font-weight: 600;
    color: #333;
    max-width: 750px;
    margin: 0 auto 60px auto;
    line-height: 1.3;
}

.rrr4 {
    color: #ff5a00;
}

.rrr5 {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.rrr6,
.rrr15 {
    background:#fff;
    width: 550px;
    padding: 40px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    position: relative;
}

.rrr7 {
    color: #ff5a00;
    font-size: 14px;
    margin-bottom: 15px;
}

.rrr8 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.4;
    width: 308px;
    height: 93px;

}

.rrr9 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.rrr10 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.rrr12 {
    font-weight: 600;
    font-size: 14px;
}

.rrr13 {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

.rrr14 {
    position: absolute;
    top: 40px;
    right: 40px;
}

.rrr14 img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}


.bn1{
    text-align:center;
    padding:50px 20px;
}

.bn2{
    color:#777;
    margin-bottom:10px;
}

.bn3{
    font-size:40px;
    font-weight:700;
    color:#222;
}

.bn3 span{
    color:#ff5a00;
}

.bn4{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:50px 0;
    flex-wrap:wrap;
}

.bn5, .bn8, .bn11{
    background:#fff;
    padding:30px;
    width:300px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    display:flex;
    align-items:flex-start;
    gap:20px;
}

.bn6, .bn9, .bn12{
    background:#ff5a00;
    color:#fff;
    width:60px;
    height:60px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}

.bn7 h3, .bn10 h3, .bn13 h3{
    color:#ff5a00;
    margin:0;
}

.bn7 h2, .bn10 h2, .bn13 h2{
    margin:5px 0 10px;
    color:#222;
}

.bn7 p, .bn10 p, .bn13 p{
    margin:5px 0;
    color:#777;
}

.bn10 span{
    color:#ff5a00;
}

.bn14{
    font-size:28px;
    margin:40px 0;
}

.bn14 span{
    color:#ff5a00;
}

.bn15{
    max-width:700px;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.bn16, .bn17, .bn18, .bn19{
    padding:15px;
    border:1px solid #ddd;
    background:#fff;
    font-size:16px;
}

.bn20{
    grid-column:span 2;
    padding:15px;
    height:150px;
    border:1px solid #ddd;
    background:#fff;
    resize:none;
}

.bn21{
    grid-column:span 2;
    padding:15px;
    background:#ff5a00;
    color:#fff;
    border:none;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

.bn21:hover{
    background:#e14e00;
}
.kkk1
{
    width: 85%;
height: 450px;
margin-left: 100px;
}
.kkk2
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
    
}
@media (max-width: 510px) {

    .ddd1 {
        padding: 16px 20px;
    }

    .ddd3 {
        display: none;
    }

    .icon {
        display: block;
        font-size: 38px;
        cursor: pointer;
    }

    .ddd5 {
        flex-direction: column-reverse;
        padding: 30px 20px 50px;
        text-align: center;
    }

    .ddd11 {
        width: 100%;
        margin-bottom: 20px;
    }

    .ddd11 img {
        width: 100%;
        max-width: 320px;
    }

    .ddd6 {
        width: 100%;
    }

    .ddd7 {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .ddd8 {
        font-size: 28px;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .ddd9 {
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .ddd10 {
        width: 180px;
        margin: 0 auto;
    }

    .hhh2 {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hhh3 {
        width: 100%;
    }

    .hhh3 img {
        max-width: 372px;
        width: 300px;
        margin: 0 auto;
    }

    .hhh4 {
        width: 100%;
    }

    .hhh6 {
        font-size: 23px;
        font-weight: lighter;
    }

    .hhh8,
    .hhh9 {
        width: 323px;
        height: 197px;
        font-weight: 400;
        font-size: 16px;
        line-height: 151%;
        letter-spacing: 0%;
        text-align: center;
        margin-left: -30px;

    }

    .hhh10 {
        margin: 0 auto;
    }

    .hhh11 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 343px;
        height: 200px;
        margin-left: -30px;

    }

    .hhh12,
    .hhh15,
    .hhh18,
    .hhh21 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .hhh13,
    .hhh16,
    .hhh19,
    .hhh22 {
        margin: 0 auto 15px;
    }

    .hhh14,
    .hhh17,
    .hhh20,
    .hhh23 {
        width: 245px;
        height: 50px;
        margin-left: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 124%;
        letter-spacing: 0%;
        text-align: center;

    }

    .qqq1 {
        padding: 40px 20px;
        margin-top: 500px;

    }

    .qqq2 {
        flex-direction: column;
    }

    .qqq3 {
        width: 100%;
        text-align: center;
    }

    .qqq10 {
        width: 100%;
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .qqq5 {
        font-size: 26px;
    }

    .qqq12 {
        font-size: 28px;
        text-align: center;
        padding: 20px;
    }

    .qqq13 {
        text-align: center;
        padding: 1px;
    }

    .qqq11 {
        width: 333px;
        height: 140px;
        padding: 20px;
        margin-left: 10px;
    }

    .pp {
        width: 321px;
        height: 169px;
        font-weight: 400;
        font-size: 16px;
        line-height: 151%;
        letter-spacing: 0%;
        text-align: center;
        margin-left: 40px;
    }

    .qqq8 {
        margin-top: -30px;
    }

    .ttt1 {
        padding: 60px 20px;
    }

    .ttt3 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .ttt5 {
        grid-template-columns: 1fr;
    }

    .ttt6 {
        width: 100%;
    }

    .ttt10 {
        display: none;
    }

    .ttt7 {
        width: 385px;
        height: 280px;

    }

    .iii3 {
        font-size: 28px;
    }

    .iii5 {
        justify-content: center;
    }

    .iii6 {
        width: 90%;
    }

    .iii10 {
        display: none;
    }

    .rrr3 {
        font-size: 26px;
    }

    .rrr6 {
        width: 95%;
    }

    .rrr15 {
        display: none;
    }

    .rrr8 {
        width: 205px;
        height: 96px;
      margin-left: -20px;
    }
    .rrr7
    {
        margin-left: -20px;
    }
    .bn1{
        padding:30px 15px;
    }

    .bn3{
        font-size:26px;
        line-height:1.3;
    }

    .bn4{
        flex-direction:column;
        gap:20px;
        margin:30px 0;
        align-items:center;
    }

    .bn5, .bn8, .bn11{
        width:70%;
        padding:20px;
    }

    .bn6, .bn9, .bn12{
        width:55px;
        height:55px;
        font-size:20px;
    }

    .bn14{
        font-size:22px;
        margin:30px 0 20px;
    }

    .bn15{
        grid-template-columns:1fr;
        gap:15px;
        width: 95%;
    }

    .bn20{
        grid-column:span 1;
        height:130px;
    }

    .bn21{
        grid-column:span 1;
        padding:12px;
        font-size:16px;
        width: 50%;
    }
       .kkk1
       {
        width: 394px;
height: 250px;
margin-left: 20px;

       }
       .kkk2 img
       {
        width: 67px;
height: 53px;
       }
}